<!-- conditional block will be display -->
<div class="block yellow-gold_10k">
    <div class="product__title">
        <h1 class="h1">10 Kt. Guld Cushion Cut Lab Grown Diamond Herrering – Elegant Stil med Bæredygtig Luksus</h1>
    </div>
    <div class="product__description rte quick-add-hidden">
        Denne herrering i 10 Kt. guld er udsmykket med en imponerende cushion-slebet labgrown diamant på 1.56 ct. Den kombinerer raffineret stil med bæredygtige værdier og er skabt til den stilbevidste mand. Ringen vejer 12.49 gram, hvilket giver både komfort og holdbarhed. Perfekt til hverdagsbrug eller særlige lejligheder. Fås også i 14 Kt. og 18 Kt. guld.
      </div>
</div>
<div class="block yellow-gold_14k">
    <div class="product__title">
        <h1 class="h1">14 Kt. Guld Cushion Cut Lab Grown Diamond Herrering – Elegant og Maskulin Stil</h1>
    </div>
    <div class="product__description rte quick-add-hidden">
        Denne herrering i 14 Kt. guld udstråler raffineret elegance og maskulinitet. Ringen er prydet med en imponerende cushion-slebet labgrown diamant på 1.56 ct., som tilføjer et sofistikeret og luksuriøst præg til enhver stil. Ringen har en solid vægt på 14.03 gram, hvilket sikrer både komfort og holdbarhed. Perfekt til den moderne mand, der ønsker et bæredygtigt smykke med et stilfuldt design. Fås også i 18 Kt. og 10 Kt. guld.
    </div>
</div>
